parameters:
  bootstrapFiles:
    - %currentWorkingDirectory%/../../lib/base.php
  inferPrivatePropertyTypeFromConstructor: true
  excludePaths:
    - %currentWorkingDirectory%/appinfo/routes.php
  ignoreErrors:
